<h1>Flug suchen!</h1>

<form [ngFormModel]="filter">
    <div class="form-group">
        <label>Von</label>
        <input class="form-control" ngControl="von" name="von">

        <div *ngIf="!filter.controls.von.valid && !filter.controls.von.pending">
            Von weist Fehler auf!
        </div>

        <div *ngIf="filter.hasError('route')">
            Das ist doch eine unsinnige Route!!
        </div>

        <div *ngIf="filter.controls.von.hasError('required')">
            Von ist doch ein Pflichtfeld!
        </div>
        <div *ngIf="filter.controls.von.hasError('minlength')">
            Von muss doch min. 3 Zeichen haben!
        </div>
        <div *ngIf="filter.controls.von.hasError('maxlength')">
            Von darf doch max. 30 Zeichen haben!
        </div>
        <div *ngIf="filter.controls.von.hasError('ort')">
            Dieser Ort wird doch gar nicht angeflogen!
        </div>
        <div *ngIf="filter.controls.von.hasError('ortAsync')">
            Für diesen Ort sind doch alle Flüge ausgebucht!
        </div>
        <div *ngIf="filter.controls.von.pending">
            <marquee>
                Validierung wird gerade ausgeführt!!
            </marquee>
        </div>

    </div>
    <div class="form-group">
        <label>Nach</label>
        <input class="form-control" ngControl="nach" name="nach">
    </div>
    <div class="form-group">
        <input
                type="button"
                class="btn btn-default"
                value="Suchen!"
                (click)="suchen()">
    </div>

    <!--
    <div *ngFor="#entry of formDesc">
        <label>{{entry.label}}</label>
        <input [ngControl]="entry.fieldName">
    </div>
    -->
</form>



<div *ngFor="#flug of fluege" class="col-sm-4">

    <flug-card
            [item]="flug"
            [(selectedItem)]="selectedFlug">

        <a class="btn btn-default" [routerLink]="['../FlugEdit', { id: flug.id } ]">Editieren</a>

    </flug-card>


    <!--
                [selectedItem]="selectedFlug"
            (selectedItemChange)="selectedFlug = $event">

    -->
</div>

<pre *ngIf="selectedFlug">
    {{ selectedFlug | json }}
</pre>

<!--
<table class="table table-striped" [hidden]="fluege.length == 0">

    <tr *ngFor="#flug of fluege"
        [class.active]="flug.id == selectedFlug?.id">
        <td>{{flug.id}}</td>
        <td>{{flug.datum.substr(0,10)}}</td>
        <td>{{flug.abflugort | ort:'short'}}</td>
        <td>{{flug.zielort | ort:'long' }}</td>
        <td>
            <a style="cursor: hand" href="javascript:void(0)" (click)="select(flug)">Auswählen</a>
            |


        </td>
    </tr>

</table>
-->